# Created by .ignore support plugin (hsz.mobi)

.idea
!/static

main.py
*.ipyb
/static/example.json
/main.ipynb
/.vscode/
__pycache__/
src/Messages/__pycache__/
src/Facebook/Search/__pycache__/
main.ipynb
static/
tests/
